﻿@model ProcessoSeletivTODOS.Clients.MVC.ViewModel.PerfilViewModel
@{
    ViewBag.Title = "Index";
}
<br />
<h3>
    Gerenciamento de Perfil 
</h3>
<br />
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" action="@Url.Action("Salvar","Perfil")" method="post" >
            @Html.HiddenFor(d => d.PerfilId)
            <div class="form-group">
                <label class="col-md-2 control-label">Descrição do Perfil</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(d => d.Descricao, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Descricao, "", new { @class = "validation-message text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-8">
                    <button class="btn btn-sm btn-primary">
                        <i class="glyphicon glyphicon-save"></i> Salvar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<br />


@Html.Action("List","Perfil")