﻿@model IEnumerable<ProcessoSeletivTODOS.Clients.MVC.ViewModel.PerfilViewModel>
@{
    ViewBag.Title = "List";
}

@if (Model != null && Model.Count() > 0)
{

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PerfilId</td>
                        <td>@item.Descricao</td>
                        <td style="text-align:right;" >
                            <a href="@Url.Action("Edit", new { id = item.PerfilId })" class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.PerfilId })" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

}