﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Módulo Cliente MVC
        <small>Processo Seletivo Todos</small>
    </h1>
    <p class="lead">
        Aplicação referente ao requisito de uma aplicação desenvolvido em MVC para consumir o Web Service criado.
        <br />
        Verificar se a API está rodando no seguinte endereço: <b>@ViewBag.EnderecoApi</b>. Caso não esteja, alterar no web config
    </p>
</div>
