﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP MVC - TODOS  @*@ViewBag.Title*@</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/toastr.min.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TODOS Cliente MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Usuario", "Index", "Usuario")</li>
                    <li>@Html.ActionLink("Perfil", "Index", "Perfil")</li>
                    <li>@Html.ActionLink("Agrupamento", "Index", "Agrupamento")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/toastr.min.js"></script>
    <script>
        $(function () {
            @{
                string success = (TempData["notificacao.success"] ?? string.Empty).ToString();
                string erro = (TempData["notificacao.error"] ?? string.Empty).ToString();
            }
            @if (!string.IsNullOrEmpty(success))
                {
                    @:toastr.success(null, '@success');
                            }
            @if (!string.IsNullOrEmpty(erro))
                {
                    @:toastr.error(null,'@erro');
                }
        })
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
