﻿@model ProcessoSeletivTODOS.Clients.MVC.ViewModel.UsuarioViewModel
@{
    ViewBag.Title = "Index";
}

<h3>Gerenciamento de Usuários</h3>
<br />
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" action="@Url.Action("Salvar","Usuario")" method="post" >
            
            @Html.HiddenFor(f => f.DataCadastro)
            @Html.HiddenFor(d => d.UsuarioId)

            <div class="form-group">
                <label class="control-label col-md-2">
                    @Html.LabelFor(d => d.Login)
                </label>
                <div class="col-md-8">
                    @Html.TextBoxFor(d => d.Login, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Login, "", new { @class = "validation-message text-danger" })
                </div>
            </div>       

            <div class="form-group">
                <label class="control-label col-md-2">
                    @Html.LabelFor(d => d.Email)
                </label>
                <div class="col-md-8">
                    @Html.TextBoxFor(d => d.Email, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Email, "", new { @class = "validation-message text-danger" })
                </div>
            </div>       

            <div class="form-group">
                <label class="control-label col-md-2">
                    @Html.LabelFor(d => d.Ativo)
                </label>
                <div class="col-md-8">
                    @Html.CheckBoxFor(d => d.Ativo)
                    @Html.ValidationMessageFor(d => d.Ativo, "", new { @class = "validation-message text-danger" })
                </div>
            </div>             

            @if (Model.UsuarioId == 0)
            {
                
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(d => d.Senha)
                    </label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(d => d.Senha, "", new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(d => d.Senha, "", new { @class = "validation-message text-danger" })
                    </div>
                </div>  


                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Html.LabelFor(d => d.ConfirmaSenha)
                    </label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(d => d.ConfirmaSenha, "", new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(d => d.ConfirmaSenha, "", new { @class = "validation-message text-danger" })
                    </div>
                </div>   
            }
            <div class="form-group">
                <label class="control-label col-md-2">
                    
                </label>
                <div class="col-md-8">
                    <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-save"></i>
                        Salvar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

@Html.Action("List")