﻿@model IEnumerable<ProcessoSeletivTODOS.Clients.MVC.ViewModel.UsuarioViewModel>

@{
    ViewBag.Title = "List";
}

@if (Model != null && Model.Count() > 0)
{
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Data Cadastro</th>
                    <th>Ativo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Login</td>
                        <td>@item.Email</td>
                        <td>@item.DataCadastro</td>
                        <td>@(item.Ativo ? "Ativo" : "Inaivo" )</td>
                        <th style="text-align: right;" >
                            <a href="@Url.Action("Editar", new { id = item.UsuarioId })" class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.UsuarioId })" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

}