﻿@model ProcessoSeletivTODOS.Clients.MVC.ViewModel.AgrupamentoViewModel
@{
    ViewBag.Title = "Index";
}
<br />
<h3>Agrupamento de Usuários e Perfis</h3>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Selecione um usuário: </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(d => d.UsuarioId, new SelectList(Model.Usuarios, "UsuarioId", "Login", Model.UsuarioId), "Selecione um valor",new { @class = "form-control" })
                </div>
                @*<label class="control-label col-md-2">Selecione um perfil: </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(d => d.PerfilId, new SelectList(Model.Perfiis, "PerfilId", "Descricao", Model.PerfilId), new { @class = "form-control" })
                </div>*@
            </div>
            <div  class="row" >
                <div class="col-md-6" id="perfil-user" >
                    @*@Html.Action("PartialPerfilUsuario", new { iduser = 12 })*@
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('#UsuarioId').change(function () {
                var user = $(this).val();
                $.ajax({
                    url: '@Url.Action("PartialPerfilUsuario")' ,
                    data: { iduser: user },
                    method: 'GET'
                }).success(function (data) {
                    $('#perfil-user').html(data);
                    $('.chk-action').change(function () {
                        var user = $(this).attr('data-user');
                        var profile = $(this).attr('data-profile');
                        var urlaction = $(this).prop('checked') ? '@Url.Action("SalvaItem")' : '@Url.Action("DeletaItem")'
                        console.log(user + profile);
                        $.ajax({
                            url: urlaction,
                            data: { iduser: user, idprofile: profile },
                            method: 'POST'
                        }).success(function (data) {
                            toastr.success('Dados alterados com sucesso.');
                        }).error(function () {
                            toastr.error('Erro ao salvar os dados.')
                        });
                    })
                })
            })


            @*$('.chk-action').change(function () {
                var user = $(this).attr('data-user');
                var profile = $(this).attr('data-profile');
                var urlaction = $(this).prop('checked') ? '@Url.Action("SalvaItem")' : '@Url.Action("DeletaItem")'
                console.log(user + profile);
                $.ajax({
                    url: urlaction,
                    data: { iduser: user, idprofile: profile },
                    method: 'POST'
                }).success(function (data) {
                    toastr.success('Dados alterados com sucesso.');
                }).error(function () {
                    toastr.error('Erro ao salvar os dados.')
                });
            })*@
        })
    </script>
    }
