﻿@model ProcessoSeletivTODOS.Clients.MVC.ViewModel.PerfisUsuarioPartialViewModel

<form method="post" action="@Url.Action("PartialPerfilUsuario")">
    @Html.HiddenFor(o => o.UsuarioId)
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <h4>Perfis do Usuário: @Model.User.Login</h4>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Perfil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Perfis)
                    {
                        <tr>
                            <td><input type="checkbox" 
                                       class="chk-action" 
                                       data-profile="@item.PerfilId" 
                                       data-user="@Model.UsuarioId"
                                       name="IdsProfile" 
                                       value="@item.PerfilId" 
                                       @(Model.PerfisUsuario.Select(s => s.PerfilId).Contains(item.PerfilId) ? "checked" : "")
                                       /></td>
                            <td>@item.Descricao</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

@section scripts{
        <script>
            $(function () {
                alert(2)
            })
        </script>
    }